<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>allUsersPage</title>
</head>
<body>
<h2>all users</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Password</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getUsername()}">Login</td>
            <td th:text="${user.getPassword()}">Password</td>
            <td th:text="${user.getEmail()}">email</td>

            <td>
                <div th:each="role: ${user.getRoles()}">
                    <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="admin"></span>
                    <span th:if="(${role.getName()} == 'ROLE_USER')" th:utext="user"></span>
                </div>
            </td>
            <td>
                <form th:action="@{admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{admin/delete(id=${user.getId()})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <form th:action="@{/admin/add}">
        <button type="submit">Add new user</button>
    </form>
    <br/>
    <br>
    <form th:if="${#request.userPrincipal != null}" th:action="@{/logout}">
        <button type="submit">Exit</button>
    </form>
    <br/>
</div>
</body>
</html>